[buildout]
extends = https://raw.githubusercontent.com/IMIO/buildout.pm/refs/heads/master/communes-dev.cfg

[sources]
collective.eeafaceted.batchactions = git ${remotes:imio}/collective.eeafaceted.batchactions.git pushurl=${remotes:imio_push}/collective.eeafaceted.batchactions.git branch=PM-4369_use_imio_actionspanel_deletable_functionnality_for_delete_batch_action
Products.PloneMeeting = git ${remotes:imio}/Products.PloneMeeting.git pushurl=${remotes:imio_push}/Products.PloneMeeting.git branch=PM-4369_use_imio_actionspanel_deletable_functionnality_for_delete_batch_action
